/* 全局样式
样式污染解决方案
1.class名字不重复
工具：实现命名唯一
2.css module （react自带脚手架 文件名为 名字+.module.css）
使用 import styles from './cities.module.css';
    <span className={styles.属性名} />
    3.styled-component

*/
@import "./assets/css/reset.css";
.am-navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.App{
    padding-top: 45px;
}